*{
    color:#266c91;
   margin: 0;
}
body{
    background-image:url("images/choco_coffee.jpg"); 
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}

a{
    font-variant: small-caps;
    color:aliceblue; 
    text-decoration-line: none;
     margin-top: 1.7%;  
    margin-left: 5%;
    position: fixed;
}
h2{
    margin-left: 20%;
   
}

/* #img{ */
    /* margin:0;
 width: 100%;
 height: 100%; */
 /* position:absolute; */
 /* top :0;
 left:0;
 right: 0;
 bottom:0; */
 /* display:flex;  */
 /* z-index: -1;
} */


li{
    display:inline-block;
    margin:2%;
}
h2{
    margin-top: 5%;
    position: relative;
}

#brek{
    width: 43%;
    left: 0%;
    /* background-color: aqua; */
    padding: 3%;
    margin: 7%;
}
#product{
    background-color: rgb(207, 207, 133);
    /* position: relative; */
    /* height: 10%; */
    margin: 0;
    width: 100%;
    /* left: -25px; */

    text-align:center;
    margin-bottom: 0px;
}
#product li{
    color: rgb(34, 20, 1);
    
}
button{
   color:rgb(82, 65, 3);
   border-radius: 6px;
   padding: 10px;
   font-size: 20px;
   margin-left: 10%;
   background-color: aquamarine;

}
footer{
    display: block; 
    /* height: 50px; */
    width: 96%;
    text-align: center;
    padding: 2%;
    
    background-color: rgb(222, 175, 118);
    margin-top: 0; 
    color: rgb(22, 16, 64);
    
}

h1,p{
    margin-left: 5%;
}
#home{
    margin-top: 5%;
    margin-left: 10%;
    
}
#last{
    margin-top: 15%;
    position: sticky;
    bottom: 0px;
    
}
div ul li{
    /* display:inline; */
    width: 20%;
    height: 40px;
    color:#9485d0;
    
    /* background-color: aqua; */

}
 .imag{
    /* display: inline; */
    height: 40px;
    width: 50px;
    
    
    
} 
div ul{
    display: inline-block;
    padding-top: 10px;
    
    /* background-color: yellowgreen; */
}
